# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ideProject\kanbas-node-server-app-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
